{% extends 'base.html' %}
{% block content %}
<h2>Records List</h2>
<a href="{{ url_for('auth.logout') }}" class="btn btn-primary mb-3">
        Logout
    </a>
<a href="{{ url_for('main.add_record') }}" class="btn btn-primary mb-3">Add Record</a>
<table class="table table-bordered">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Proogram</th><th>Year</th><th>Course</th><th>Actions</th></tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.program }}</td>
            <td>{{ record.year }}</td>
            <td>{{ record.course }}</td>
            <td>
                <a href="{{ url_for('main.edit_record', id=record.id) }}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{{ url_for('main.delete_record', id=record.id) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
