{% extends 'base.html' %}
{% block content %}
<h2>Edit Record</h2>
<form method="POST" onsubmit="return validateForm()">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="{{ record.name }}" required>
    </div>
        <div class="mb-3">
        <label>Program</label>
        <select type="text" name="program" class="form-control" value="{{ record.program }}" required>
            <option>BSIT</option>
            <option>DIT</option>
            
        </select>
    <div class="mb-3">
        <label>Year</label>
        <select type="number" name="year" class="form-control" value="{{ record.year }}"  required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Course</label>
        <select type="text" name="course" class="form-control" value="{{ record.course }}" required>
            <option>Advance Programming</option>
            <option>Basic Electronics</option>
            <option>System Analysis and Design</option>
            <option>Capstoney</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>
function validateForm() {
    const fields = ['name', 'program', 'year', 'course'];
    for (const field of fields) {
        const value = document.getElementsByName(field)[0].value.trim();
        if (value === '') {
            alert('Please fill out all fields properly.');
            return false;
        }
        if ((field !== 'year' && /\d/.test(value)) || (field === 'year' && /[a-zA-Z]/.test(value))) {
            alert('Invalid input in ' + field + ' field.');
            return false;
        }
    }
    return true;
}
</script>
{% endblock %}